<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827557844540-seub2up4aig4320ic34srslgidc6j9i7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827557844540-seub2up4aig4320ic34srslgidc6j9i7</string>
	<key>API_KEY</key>
	<string>AIzaSyC1BV_wRztWcxUVsJ664n7GxPlvYnYPUCY</string>
	<key>GCM_SENDER_ID</key>
	<string>827557844540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileApp</string>
	<key>PROJECT_ID</key>
	<string>bangteam-mockproject</string>
	<key>STORAGE_BUCKET</key>
	<string>bangteam-mockproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827557844540:ios:8db502a2be815fc7125539</string>
</dict>
</plist>